doctype html
html
    head
        title Welcome!
        style
          include style.css
    body
        include ./header.pug
        div.container
            h2 Jesteś zalogowany jako : 
            h4 #{first_name}              #{last_name}